body {
    background: #343434;
    color: #f1f1f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#search-bar {
    width: 25%;
    color: #f1f1f1;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: #f1f1f1;
}

a:hover {
    color: #3e3ec5;
    transition: 0.3s all;
}

#register-btn, #login-btn {
    border: 2px solid #3e3ec5;
    border-radius: 17px;
    padding: 10px;
    transition: 0.5s;
}

#register-btn:hover, #login-btn:hover {
    background: #3e3ec5;
    color: #ffffff;
    transition: 0.3s all;
}

.input-btn {
    margin-top: 15px;
    border-radius: 50px;
}

#switch-popup {
    color: black;
    padding-bottom: 15px;
}

#switch-popup:hover {
    color: #3e3ec5;
    transition: 0.3s all;
    cursor: pointer;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 50px;
    line-height: 10px;
}

span {
    color: #3e3ec5;
}

p {
    line-height: 20px;
    max-width: 500px;
    font-size: medium;
}

img {
    width: 460px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: hidden;
}

form [type="submit"] {
    height: 50px;
    width: 70%;
    background-color: #3e3ec5;
    color: #ffffff;
    font-weight: bold;
}

form [type="submit"]:hover {
    background-color: #3e3ec5;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

#donate-form {
    height: 540px;
    width: 165px;
    flex: auto;
    display: grid;
    place-content: center;
    padding: 1px;
}

.donate-input {
    color: #f1f1f1;
}

input {
    position: relative;
    margin-bottom: 25px;
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
}

input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #3e3ec5;
}

input:hover {
    border-bottom: 1px solid #3e3ec5;
    transition: 0.5s;
}

textarea {
    overflow: auto;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 0;
    background-color: #f8f8f8;
    font-size: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    resize: none;
    transition: 180ms box-shadow ease-in-out;
}

/*-----------Pop-up de login/register---------*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup-content {
    color: #3e3ec5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 425px;
    height: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#popup-image {
    width: 30%;
    align-self: flex-end;
}

.popup h2 {
    text-align: center;
}

.show-popup {
    display: flex !important;
}

.popup-close {
    cursor: pointer;
    place-self: flex-start;
}
/*--------------------------------------------*/

/*--------------Menu de navegação-------------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3e3ec5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#toggle-btn {
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}
/* -------------------------------------------*/

/* ---------------Big Slider----------------*/
.highlights-slider {
    max-width: fit-content;
    display: flex;
    border: solid blueviolet ;
}

.highlights-img {
    width: 760px;
    height: 256px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/*-------------------------------------------*/

/*-----------------small slider----------------*/
.small-slider-container {
    overflow: hidden;
    position: relative;
}
.small-slider {
    display: flex;
    scroll-behavior: smooth;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.small-slider-img {
    width: 140px;
    height: 200px;
    margin-right: 10px;
    transition: transform .10s;
    border: solid blueviolet;
}

.small-slider-img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.small-button-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    left: 10px;
    z-index: 1;
}
.prev-button, .next-button {
    background: none;
    border: none;
    font-size: 24px;
    color: blueviolet;
    cursor: pointer;
}

#prev-button {
    left: 10px;
}

#next-button {
    right: 10px;
}

/*---------book page---------*/
.book-container {
place-content: space-evenly;
}